body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Menu */

nav.menu{
    background-color: rgb(255, 0, 0);
    font-size: 18px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

img#logotipo{
    width: 100px;
    margin: 10px auto 10px;
}

.menu a{
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    margin-left: 200px;
}

/* Fim Menu */

/* main */

main{
    margin: 100px 20px auto;
    height: 380px;
}

/* Fim main*/

/* Footer */

footer{
    text-align: center;
}

#formasDePagamento{
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 3px auto 3px;
}

#rodape{
    margin: 3px auto 10px;
    font-size: 11px;
    text-align: center;
}

footer img{
    width: 400px;
    margin: 3px auto 3px;
}

/* Fim Footer*/

/* home */

.home p{
    font-size: 18px;
    margin-top: 30px;
}

.home i{
    color: rgb(255, 0, 0);
}

/* Fim home */

/* Lojas */

section.loja{
    width: 100%;
    margin-top: 4%;
}

.loja div{
    width: 24%;
    padding-left: 9%;
    display: inline-block;
}

.loja h2{
    font-size: 18px;
    margin: 10px auto;
}

.loja p{
    font-weight: normal;
    margin: 4px auto;
}

/* Fim Lojas */

/* Contato */

#contatoPage{
    height: auto;
}

section.contato{
    width: 100%;
}

.contato h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.contato div{
    width: 49.6%;
    margin-top: 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    vertical-align: bottom;
}

.contato img{
    height: 80px;
}

.contatoForm h2{
    font-size: 16px;
    margin-bottom: 5px;    
}


.contatoForm input,textarea{
    width: 400px;
}

#submit{
    font-weight: bold;
    width: auto;
    color: white;
    background-color: red;
    border: 0px;
    padding: 8px 12px;
    border-radius: 10px;
}

/* Fim Contato */

/* Produtos */

main#contProduto{
    width: auto;
    height: auto;
}

section#categorias{
    width: 18%;
    display: inline-block;
    vertical-align: top;
}

section#produtos{
    width: 80%;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 50px;
}

#produtos div{
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin-left: 40px;
}

#produtos img{
    height: 120px;
}

.valor{
    text-decoration: line-through;
    margin-bottom: 5px;
}

.valorAtual{
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}
/* Fim Produtos */